<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">RevIA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'formation_list' %}">Formations</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'chapitre_list' %}">Chapitres</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
        {% endif %}
    </div>
</nav>